/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    Responsive Navigation
\*------------------------------------*/
body {
	background:#7a82bf;
}
a,
a:link {
    color: #99e9ff;
    text-decoration: none;
}
a:hover,
a:active {
    color: #79b6cb;
    text-decoration: none;
}
ul,
ol {
	list-style:none;
}
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	width:100%;
	margin:30px 0 20px 0;
	text-align:center;
}
.content {
	text-align:center;
	margin:0px 5px 0 5px;
}
.content-text {
	margin:0 0 15px;
}
/* Navigation styling */
.nav {
    float:right;
	position:relative;
	display:inline-block;
	font-size:18px;
	font-weight:500;
}
.nav-list {
	
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
}
.nav-item a {
	display:block;
	padding:13px 15px;
	color:#FFF;
	background:#80c788;
}
.nav-item:first-child a {
	border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
	border-radius:0 5px 5px 0;
}
.nav-item a:hover {
	background:#537f56;
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:-55px;
	right:0;
	background:#80c788 url(../img/nav.svg) no-repeat center center;
	height:50px;
	width:50px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 842px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:0px 0 0;
	}
	.nav-list {
		display:none;
        padding:5px 0 5px 0;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
		background:#80c788;
		padding:10px;
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
        height:60px;
        background:#80c788 url(../img/nav-open.svg) no-repeat center center;
	}
}