
html {
	height: 100%;
}

body.splash {
	height: 100%;
	background: white;
 	background-repeat: no-repeat;
}

.page-title {
	font-size: 24px;
}

input[type=text]:focus {
	border-bottom: 1px solid orange;
	-webkit-box-shadow: 0 1px 0 0 orange;
	-moz-box-shadow: 0 1px 0 0 orange;
	box-shadow: 0 1px 0 0 orange;
}

div.center {
	position: relative;
	margin: 10% auto;
	left: 0;
	width: 50%;
	height: auto;
}

div.center.log {
	width: 200px;
}