
body.splash {
	height: 100%;
	background: white;
 	background-repeat: no-repeat;
}

.page-title {
	font-size: 24px;
}

.nav-item-wrapper {
    display: inline;
}

.nav-item {
    float: left;
    margin-right: 20px;
}

input[type=text]:focus {
	border-bottom: 1px solid orange;
	-webkit-box-shadow: 0 1px 0 0 orange;
	-moz-box-shadow: 0 1px 0 0 orange;
	box-shadow: 0 1px 0 0 orange;
}

div.center {
	position: relative;
	margin: 10% auto;
	left: 0;
	width: 50%;
	height: auto;
}

div.center.log {
	width: 200px;
}

.more-container {
    margin-top: 50px;
}

.more-container .more-content {
    padding: 0px 12px;
    display: none;
}

#titleBox {
	font-size: 50px;
	text-align: center;
	margin-bottom: 3%;
}

#politicalSlider {
    margin: 12px 0px;
	background: linear-gradient(to right, #42a5f5,white,#ef5350);
    border-radius: 18px;
	height: 36px;
}

.spectrumX {
    margin-top: -54px;
    margin-left: calc(50% - 2px);
	background: black;
	height: 48px;
    border-radius: 2px;
    width: 4px;
    z-index: 1000;
}

.spectrumX.spectrumClinton {
    margin-left: calc(21.95% - 2px);
}

.spectrumX.spectrumSanders {
    margin-left: calc(19.45% - 2px);
}

.spectrumX.spectrumTrump {
    margin-left: calc(68.25% - 2px);
}

.spectrumX.spectrumKasich {
    margin-left: calc(69.05% - 2px);
}

.spectrumX.spectrumCruz {
    margin-left: calc(82.25% - 2px);
}

.spectrumX.spectrumRubio {
    margin-left: calc(75% - 2px);
}

.question {
	padding: 10px;
	margin-bottom: 10px;
}

.qSlider {
	width: 90%;
	margin-top: 5px;
	margin-left: 5%;
}

.party {
    font-weight: bold;
    font-size: 1.1rem;
}

.position {
    font-size: 1.1rem;
}

rect {
    background-color: black;
    width: 5px;
    height: 20px;
}

.add-padding-top {
    padding-top: 12px !important;
}

.add-padding-left {
    padding-left: 20px !important;
}

.add-padding-right {
    padding-right: 20px !important;
}

.score {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0px 12px;
    background-color: #ee6e73;
    border-radius: 18px;
    margin: -9px 0px;
    vertical-align: middle; 
}

#candidateBoxHeader{
	color: white;
	text-align: center;
	font-size: 30px;
}

#candidate1 {
	background-color: white;
	width: 60%;
	height: 40%;
	margin: 5%;
	margin-left: 20%;
}

#image1 {
	width: 100%;
	height: 91%;
	display: block;
	margin-bottom: 0%;
}

#txt1 {
	text-align: center;
}

#runnerUpBox {
	height: 20%;
}

.runnerUp {
	display: inline-block;
	width: 25%;
	margin-left: 5%;
	background-color: white;
	padding-bottom: 0%;
}

.smallImage {
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 0%;
}

.smallText {
	text-align: center;
}

#moreCandidatesButton {
	width: 45px;
	color: white;
	margin: 5%;
	cursor: pointer;
}

.qLink {
	display: inline-block;
	cursor: pointer;
	vertical-align: bottom;
}

.disagree {
    font-size: 0.9rem;
    float: left;
    width:33.33333%;
    text-align:left;
}
.neutral {
    font-size: 0.9rem;
    float: left;
    width:33.33333%;
    text-align:center;
}
.agree {
    font-size: 0.9rem;
    float: left;
    width:33.33333%;
    text-align:right;
}​

.Q {
	display: inline-block;
	width: 100%;
}

#sliderText {
	margin: 20px auto;
	text-align: center;
	font-size: 1.64rem;
}

#sliderText2 {
	margin: 20px auto;
	text-align: center;
	font-size: 1.25rem;
}


#candidateBox {
	background: #42a5f5;
	height: 68%;
	width: 42.5%;
	display: inline-block;
	overflow: auto;
	vertical-align: top;
}

#infoBox {
	height: 100%;
	width: 42.5%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
	overflow: auto;
}

#titleBox {
	font-size: 50px;
	text-align: center;
	margin-bottom: 3%;
}


#image1 {
	width: 100%;
	height: 91%;
	display: block;
	margin-bottom: 0%;
	margin-top: 5%;
}

.issueTitle {
	font-size: 20px;
	
}

.info {
	padding-left: 0px;
	font-size: 15px;
}
